                    /* FONT */
@font-face 
{
    font-family:'abadimt-condensed-light';
    src: url('../font/abadimt-condensed-light.ttf') 
}
@font-face
{
    font-family: 'faktos'
    src: url ('../font/faktos.ttf')
}
@font-face 
{
    font-family:'abadimt-condensed-bold';
    src: url('../font/abadimt-condensed-bold.ttf') 
}

                    /* PAGE */
body
{
    background-image: url('image/background_page.jpg');
    background-attachment: fixed;
    background-size: 100%;
	margin: 0;
}

h1
{
	font-family:'faktos';
	font-size: 1.1em;
	color : #353540;
	letter-spacing:1px;
}

h2
{
	font-family:'faktos';
	font-size: 0.9em;
	color : #7b7b9;
	letter-spacing:1px;
}

h3
{
	font-family:'faktos';
	font-size: 0.9em;
	color :#7b7b91;
	letter-spacing:1px;	
	text-align: center;
}

a
{
	 color: #353540;	
	text-decoration : underline #cfb431;
}

a:visited
{
	color: #7b7b91;
	text-decoration: none; 
}

.homepage
{
    background-image: url('image/background_2017.jpg');
    background-attachment: fixed;
    background-size: 100%;
	margin: 0;
}


                    /* HEADER */
header
{
    width: 100%;
    background-color: rgb(249,247,243);
    display: flex;
    justify-content: center;
    top:0%;
}

blockquote
{
    color: rgb (53,53,54);
    font-family: 'abadimt-condensed-light', Arial narrow, Serif;
    font-style: italic;
    font-size: 1em;
    text-align: center;
    padding: 0,2em;
    margin: 0.7em;
}

#imageflottante
{
    max-width: 15em;
}

.button
{
    background-color: rgb(207,180,49);
    font-family: 'faktos', Arial narrow;
    font-size: 1.3em;
    font-style: normal;
    font-weight: bold;
    list-style-type: none;
    padding: 0.7em;
    margin:0.7em;
}

.button a
{
    color: rgb(53,53,64);
    text-decoration: none;
    text-transform: uppercase;
}

.nav_header ul
{
    display: flex;
    justify-content: space-around;
}


/* NAV pages domaines */
.nav
{
    margin-top: 1em;
    padding: 0.1em;
    margin-right: 2em;
    width: 13em;
    float: left;
}
.nav ul
{
    padding: 0.2em;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.nav li
{
    margin:0.2em;
    padding: 0.5em;
    font-family: 'faktos', Arial narrow; 
    background-color: #353540;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
}
.nav a
{
    background-color: #353540;
    opacity:0.9;
    color: rgb(255,255,255);
    text-decoration: none;
}


main
{
    margin-top:0em;
    margin-left: 17.2em;
    margin-bottom:5em;
}

section
{
    margin: 0.5em;
	padding: 0.5em;
    margin-left:0.1em;
	display: flex;
    flex-direction: column;
	font-size : 0.9em;
}

article
{
    margin-top:2em;
    padding: 1em;
    display: block;
	background-color: #ffffff;
	opacity :0.9;
}


article img
{
    padding: 1em;
    max-width: 20em;
	float:left;
}

#imgdef
{
	background-color: #ffffff;
	opacity: 0.9;
}
footer
{
	bottom: 100%;
	padding: 0.2em;
	background-color: #f9f7f3;
}

.footer ul
{
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

.footer a
{
    color: rgb(53,53,64);
    text-decoration: none;
    text-transform: uppercase;
	font-family: 'faktos', Arial narrow;
	font-size: 1.3em;
    font-style: normal;
    font-weight: bold;
}

/* page index */
#index
{
	margin-top: 2.2em;
}


.articleindex
{
max-width: 600px;
max-height: 600px;
background-color: #ffffff;
opacity: 0.9;
margin-left: auto;
margin-right: auto;
text-align: justify;
margin-bottom: 10px;
}